<h1>Bookmarks</h1>
<body>
    <div>
<p> <% bookmark.map((bookmark, index) => { %>
    <%= bookmark.url %>
    <br>
    <form action="/<%=bookmark.id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" id="deleteButton">
    </form>
    <form action="/edit/<%=bookmark.id%>?_method=GET" method="GET">
        <input type="submit" value="Edit">
    </form>
    <% }) %>
</p>

<form action="/" method="post">
    <input id="url" type="text" name="url" >
    <input id="addButton" type="submit" value="Add">
</form>
</div>
</body>