<div id="bookmarks">

    <% console.log(tag.Bookmarks) %>

    <% tag.Bookmarks.forEach((bookmark, index) => { %>
        
        <span><%= bookmark.url %></span><br> <br>
        <% }) %>

    

  </div>
