<div id="bookmarks">
    

    <% bookmarks.forEach((bookmark, index) => { %>
        <span><%= bookmark.url %></span>
        <% bookmark.Tags.forEach(tag => { %>
        <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
        <% }) %>
        <% }) %>

    

  </div>
